html {
  font: normal 100%/1.5 Georgia,serif;
}

body {
  margin: 0;
}

header {
  background-color: #ffe500;
  padding: 1em 0;
}

h1 {
  margin: 0;
  text-align: center;
  color: #b20953;
  font-family: sigmar one, cursive;
  font-size: 3.0em;
}

h2 {
  font-family: sigmar one, cursive;
  font-size: 1.8em;
  color: #b20953;
  padding: 0.3em;
}

.nav {
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.nav li {
  display: inline-block;
}

.nav a {
  background-color: #b2a212;
  color: #fff;
  display: inline-block;
  padding: 0.3em 0.75em;
  border-radius: 4px;
  text-decoration: none;
}

.nav li a:hover {
  background-color: #b20953;
}

img {
  width: 100%;
}

figure {
  margin: 0.5em;
}

footer {
  background-color: #ffe500;
  padding: 0.7em 0;
  text-align: center;
}
